.stats--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-rows: max-content;
    margin: 0 3em;
}

.stat--card {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 0.5em;
    padding: 1.5em;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    gap: 0.6em;
    align-items: center;
    justify-items: center;
}

.stat--card:hover{
    transform: scale(1.02) translateY(-1px);
    font-size: 101%;
}

.stat--icon--div {
    height: 3.5em;
    width: 3.5em;
    border-radius: 100%;
    display: flex;
  justify-content: center
}

.stat--icon {
    height: 1.8em;
    width: 1.8em;
    margin: auto;
  display: block;
}

.stat--text {
    display: inline-block;
}

.stat--heading {
    display: block;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.25);
}

.stat--value {
    display: block;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 1.8em;
    color: #FFFFFF;
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.25);
}

.card--1 {
    background: url('/public/assests/background/background-1.png');
}

.card--2 {
    background: url('/public/assests/background/background-2.png');
}

.card--3 {
    background: url('/public/assests/background/background-3.png');
}

.card--4 {
    background: url('/public/assests/background/background-4.png');
}

.icon--1 {
    background: #A5A6F4;
}

.icon--2 {
    background: #71D4A2;
}

.icon--3 {
    background: #A3D7E1;
}

.icon--4 {
    background: #E9A1C0;
}